<div class="box tabular attributes">
    <div class="splitcontentleft">
        <p><%= f.text_field :corp_name, :label => :label_corp_name, :required => true  %></p>
        <p><%= f.text_field :corp_id, :label => :label_corpid, :required => true  %></p>
        <p><%= f.text_field :app_id, :label => :label_application_agentid, :required => true  %></p>
    </div>
    <div class="splitcontentright">
        <p><%= f.text_field :app_name, :label => :label_app_name, :required => true  %></p>
        <p><%= f.text_field :corp_secret, :label => :label_application_secret, :required => true  %></p>
    </div>
    <div style="clear:both"> 
        
    </div>
</div>